@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-all {
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

body,
html {
  @apply overflow-hidden;
}

.bg-home {
  background: url(/edan-cohen-gjmbiBK9kI4-unsplash.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
  font-family: 'PassionOne-Black';
  src: local('PassionOne-Black'), url('/fonts/Passion_One/PassionOne-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular.ttf'), url('/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold.ttf'), url('/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}
